.App {
    border-radius: 16px;
    width: 300px;
    height: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: aliceblue;
}

/* Messing with library classes b/c need to fix heights to make both sides the same size */
.react-card-flip {
    height: 100%;
}

.react-card-flipper {
    height: 100%;
}

.react-card-front {
    height: 100%;
}

.react-card-back {
    height: 100%;
}
