.Display {
    padding-bottom: 16px;
    border-radius: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Display p {
    margin: 0px;
}

.Display-header {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Display-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Display-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}
